60                      SOUND   MOVEABLE PURE   "tik.WAV" 
61                      SOUND   MOVEABLE PURE   "tsjik.WAV"
62                      SOUND   MOVEABLE PURE   "plup.WAV"
63                      SOUND   MOVEABLE PURE   "ploff.WAV"